* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Courier New', Courier, monospace;
  background-color: #e7cdcd;
  color: #267e1e;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  text-align: center;
}

.input {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

#datetime-picker,
.button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  padding: 10px;
  background-color: #267e1e;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 30px;
  margin: 20px;
}
